img {
  border-radius: 50px 0 50px 0  ;
  animation: bounce 2s infinite;
  margin-top: 20px;
}
h2 {
  font-size: 18px;
}
body {
  background: linear-gradient(to right, darkcyan, lightblue);
  font-family: 'Franklin Gothic Medium';
  color:antiquewhite;
  text-align: center;
}
a {
  display: block;
  text-align: center;
  margin: 0 120px 0 120px;
  color:blanchedalmond;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;

}
a:hover {
  color:lightslategray;
  background-color:antiquewhite;
  transform: scale(1.05)
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
  }
  40% {
transform: translateY(-10px);
  }
  60% {
transform: translateY(-5px);
  }
}